article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block
}


audio:not([controls]) {
  display: none
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

a:hover,a:active {
  outline: 0
}

sub,sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}



button,input,select,textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle
}

button,input {
  *overflow: visible;
  line-height: normal
}

button{
  padding: 0;
  border: 0
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button
}

label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
  cursor: pointer
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}

textarea {
  overflow: auto;
  vertical-align: top
}

@media print {
  * {
      color: #000!important;
      text-shadow: none!important;
      background: transparent!important;
      box-shadow: none!important
  }

  a,a:visited {
      text-decoration: underline
  }

  a[href]:after {
      content: " (" attr(href) ")"
  }

  abbr[title]:after {
      content: " (" attr(title) ")"
  }

  .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
      content: ""
  }

  pre,blockquote {
      border: 1px solid #999;
      page-break-inside: avoid
  }

  thead {
      display: table-header-group
  }

  tr,img {
      page-break-inside: avoid
  }

  img {
      max-width: 100%!important
  }

  @page {
      margin: .5cm
  }

  p,h2,h3 {
      orphans: 3;
      widows: 3
  }

  h2,h3 {
      page-break-after: avoid
  }
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /* font-size: 14px; */
  line-height: 20px;
  background-color: #fff
}

a {
  text-decoration: none
}

a:hover,a:focus {
  text-decoration: none
}


p {
  margin: 0 0 10px
}


small {
  font-size: 85%
}

strong {
  font-weight: bold
}

em {
  font-style: italic
}

cite {
  font-style: normal
}

h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  font-weight: normal;
  line-height: 1;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ol{
  padding: 0;
  margin: 0;
}

ul ul,ul ol,ol ol,ol ul {
  margin-bottom: 0
}

dt {
  font-weight: bold
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee
}


code,pre {
  padding: 0 3px 2px;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}



form {
  margin: 0 0 20px
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}


input,button,select,textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

label {
  display: block;
  margin-bottom: 5px
}

textarea {
  height: auto
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0
}
.ball-clip-rotate > div {
  border:2px solid #f1136e;
  border-bottom-color: transparent;
}
